{% extends 'wrapper.html' %}
{% block title %}Do'konlar{% endblock title %}
{% block content %}
<style>
  table {
    overflow: auto;
  }
  
  tr:hover {
    background-color: rgb(194, 190, 190);
  }
  
  .card {
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
  }
  .card .card-body{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
  }
</style>
<div class="row">
    {% for i in object_list %}
    <div class="card" style="width: 18rem;">
        <a href="{% url 'main_app:province_detail' i.id %}">
          <div class="card-body">
            {{ i }}
          </div>
        </a>
      </div>
    {% endfor %}
</div>
{% endblock content %}
