{% extends 'wrapper.html' %}
{% load humanize %}
{% block title %}Chiqim{% endblock title %}
{% block content %}
<style>
  table{
    overflow: auto;
  }
  tr:hover {
    background-color: rgb(194, 190, 190);
  }
</style>
<div class="pagetitle">
    <h1>Chiqim</h1>
    <div class="d-felx justify-content-center align-items-center flex-column">
      <form method="POST" class="d-flex gap-2 justify-content-center align-items-center flex-column flex-lg-row justify-content-lg-start">
        {% csrf_token %}
       <div class="from">
        <input name="from" type="date" id="from" style="border-radius: 3px;margin-top:10px;outline:none;border:none;padding:10px 10px;">
       </div>
        <div class="till">
          <input name="till" type="date" id="from" style="border-radius: 3px;margin-top:10px;outline:none;border:none;padding:10px 10px;">
        </div>
        <div class="button pt-2">
          <button class="btn btn-primary" name="filtr" style="margin-left: 10px;">filtrlash</button>
        </div>
      </form>
    </div>
  </div><!-- End Page Title -->
  <div class="d-flex justify-content-between align-items-center">
    <div></div>
    <div>
      <form method="POST">
        {% csrf_token %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Qo'shish</button>
        <button type="submit" class="btn btn-info" name="pdf">.pdf</button>
      </form>
    </div>
  </div>
  
    <div class="row" style="overflow-x: auto;"> 
           
      {% if object_list %}
            <table class="table mt-4" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nomi</th>
                  <th scope="col">Summasi</th>
                  <th scope="col">sanasi</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in object_list %}
                <tr>
                  <th scope="row">{{ i.id }}</th>
                  <td>{{ i.name }}</td>
                  <td>{{ i.amount|intcomma  }} </td>
                  <td>{{ i.date_added.month }}/{{ i.date_added.day }}/{{ i.date_added.year }}</td>
                  <td>
                    <form method="POST" class="d-flex justify-content-start align-items-center gap-3">
                      {% csrf_token %}
                      <input type="hidden" name="expance" value="{{ i.id }}">
                      <!-- <button type="button" class="btn btn-success edit-btn" data-id="{{ i.id }}" data-bs-toggle="modal"  data-bs-target="#editExpance"> <i class="bi bi-pen"></i></button> -->
                      <button type="button" class="btn btn-danger" data-id="{{ i.id }}" data-bs-toggle="modal"  data-bs-target="#DeleteModal"><i class="bi bi-trash"></i></button>
                    </form>
                  </td>
                </tr>
                <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="editProductModal" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">O'chirish</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="expance" value="{{ i.id }}">
                                <div style="color: gray;text-align:center;font-size: 20px;">Haqiqattan Ham O'chirishni Xoylaysimi ?</div>
                                <div style="text-align: center; margin-top:10px;"><button class="btn btn-primary" type="submit" name="delete">Tasdiqlash</button></div>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
                <div style="color: gray;font-size:20px;text-align:center">
                    Ma'lumot mavjud emas!!!
                </div>
            {% endif %}
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                {% if object_list.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page_sale_items={{ object_list.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in object_list.paginator.page_range %}
                  {% if object_list.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page_sale_items={{ num }}">{{ num }}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page_sale_items={{ num }}">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if object_list.has_next %}
                  <li class="page-item"><a class="page-link" href="?page_sale_items={{ object_list.next_page_number }}">Next</a></li>
                {% endif %}
              </ul>
          </nav>
          
    </div>
  
    <!-- Button trigger modal -->

   <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chiqim Qo'shish</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nomi:</label>
            <input type="text" class="form-control" id="formGroupExampleInput"  name="name" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Summasi:</label>
            <input type="number" class="form-control" id="formGroupExampleInput2" id="amount"  name="amount" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Sanasi:</label>
            <input type="date" class="form-control" id="formGroupExampleInput2"  name="date" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary" name="add">Saqlash</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editExpance" tabindex="-1" aria-labelledby="editProductModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chiqimni tahrirlash</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="expance_id" name="expance" id="expance_id">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Nomi:</label>
              <input type="text" class="form-control" id="name"  name="name" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Summasi:</label>
              <input type="number" class="form-control" id="amount"  name="amount" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Valyuta:</label>
              <select name="currency" id="currency" required class="form-select">
                <option selected>----</option>
                <option value="dollor">Dollor</option>
                <option value="so'm">So'm</option>
                <option value="rubl">Rubl</option>
                <option value="yevro">Yevro</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
              <button type="submit" class="btn btn-primary" name="save">Saqlash</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock content %}