{% extends 'wrapper.html' %}
{% load humanize %}
{% block title %}Barcodes{% endblock title %}
{% block content %}
<style>
  table{
    overflow: auto;
  }
  tr:hover {
    background-color: rgb(194, 190, 190);
  }
  .product_a{
    margin-right: 10px;
    background-color: white;
    color: black;
  }
  #scannerInput {
        position: absolute;
        top: -9999px;
    }
</style><!-- End Page Title -->
<h1>BarCode lar</h1>
  <div class="d-flex justify-content-end align-items-center">
    <div>
      <form method="POST">
        {% csrf_token %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Qo'shish</button>
      </form>
    </div>
  </div>
  {% if messages %}
<ul class="messages text-center mt-10" style="color: red;">
    {% for message in messages %}
    <h1{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
    {% endfor %}
</ul>
{% endif %}

    <div class="row mt-4" style="overflow-x: auto;"> 
      {% if page_obj_products %}
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Kod</th>
                  <th scope="col">Action</th>
                  <th scope="col">Print</th>
                </tr>
              </thead>
              <tbody>
                {% for i in page_obj_products %}
                <tr>
                  <th scope="row">{{ i.id }}</th>
                  <td>{{ i.number }}</td>
                  <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel{{ i.id }}">O'chirish</button></td>
                  <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#printModal{{ i.id }}">Print</button></td>
                </tr>
                <div class="modal fade" id="printModal{{ i.id }}" tabindex="-1" aria-labelledby="printModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="printModalLabel">Print Barcode</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="{% url 'main_app:barcode_image' barcode_id=i.id %}" alt="Barcode" id="barcodeImage{{ i.id }}" class="img-fluid">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" onclick="printBarcode('barcodeImage{{ i.id }}')">Print</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="modal fade" id="deleteModel{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                            O'chirishni Tasdiqlash
                          <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ i.id }}" name="ID">
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                              <button type="submit" class="btn btn-danger" name="delete">O'chirish</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
              <div style="color: gray;font-size:20px;text-align:center">
                Ma'lumot mavjud emas!!!
              </div>
            {% endif %}
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                {% if page_obj_products.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page_products={{ page_obj_products.previous_page_number }}">Oldingi</a></li>
                {% endif %}
                {% for num in page_obj_products.paginator.page_range %}
                  {% if page_obj_products.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page_products={{ num }}">{{ num }}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page_products={{ num }}">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj_products.has_next %}
                  <li class="page-item"><a class="page-link" href="?page_products={{ page_obj_products.next_page_number }}">Keyingi</a></li>
                {% endif %}
              </ul>
            </nav>
    </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">QrCode Qo'shish</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">ID:</label>
            <input type="text" class="form-control" id="qrCodeId"  name="ID" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary" name="add">Saqlash</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function printBarcode(imageId) {
      const printWindow = window.open('', '', 'width=800,height=600');
      const image = document.getElementById(imageId).src;
      printWindow.document.write('<html><head><title>Print Barcode</title></head><body>');
      printWindow.document.write('<img src="' + image + '" style="width: 100%;">');
      printWindow.document.write('</body></html>');
      printWindow.document.close();
      printWindow.focus();
      printWindow.print();
    }
  </script>
{% endblock content %}